<section class="cart-section">
    <% if(!session.cart) { %>
        <div class="container">
            <div class="carts">
                <h1>Cart Empty 😊</h1>
                <p class="fs-3 text-center mt-3">You proably haven't ordered a pizza yet,<br>
                    To order a pizza go to the main page.
                </p>
                <img src="./img/empty-cart.png" class="img-fluid" alt="cart-image">
                <a href="/"><button type="button" class="btns my-5">Go Back</button></a>
            </div>

        </div>
        <% } else { %>

            <div class="container">
                <div class="mx-auto d-flex order-cart">
                    <img src="./img/cart.png" alt="cart">
                    <h2>Order Summary</h2>
                </div>
                <% for(let pizza of Object.values(session.cart.items)) { %>

                    <div class="cart-product">

                        <div>
                            <span><img src="./img/<%= pizza.item.image %>" class="order-img me-2" alt=""></span>
                            <span class="fs-3 fw-bold">
                                <%= pizza.item.name %>

                            </span>

                        </div>
                        <h1>
                            <%= pizza.qty %> Pcs
                        </h1>
                        <h1>
                            <%= pizza.item.price * pizza.qty %>
                        </h1>

                    </div>

                    <% } %>

            </div>
            <div class="d-flex flex-row-reverse mx-auto amount">
                <h1>Total Amount = ₹ <%= session.cart.totalPrice %>
                </h1>
            </div>
            <div>
            <% if(user) { %>
            <form action="/orders" method="POST" class="my-5">
                <div class="inner-cart ms-auto">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fs-3 pb-1">Phone No</label>
                        <input type="number"  name="phone" class="form-control py-2 fs-3" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fs-3 pb-1">Address</label>
                        <input type="text" name="address" class="form-control py-2 fs-3" id="exampleInputPassword1">
                    </div>
                    <div class="d-flex justify-content-around align-items-center">
                        <button type="submit" class="btn btnr py-3 px-3 mt-3">Place order</button>

                    </div>
                </div>
            </form>
            <% } else { %>
            <a href="/login">
                <div class="d-flex justify-content-around align-items-center inner-cart ms-auto">
                    <button type="submit" class="btn btnr py-3 px-3 mt-3">Login to order</button>
                </div>

            </a>

            <% } %>
        </div>
        <% } %>

</section>